@use "../globals/vars" as *;

img {
	max-width: 100%;
	height: auto;
}

.m-r-0 {
	margin-right: 0;
}

.m-l-0 {
	margin-left: 0;
}

.m-r-auto {
	margin-right: auto;
}

.m-l-auto {
	margin-left: auto;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.2);
}