$roboto: 'Roboto';
$poppins: 'Poppins';
$source-serif-pro: 'Source Serif Pro';

$fz-12: 1.2rem;
$fz-14: 1.4rem;
$fz-15: 1.5rem;
$fz-16: 1.6rem;
$fz-17: 1.7rem;
$fz-18: 1.8rem;
$fz-22: 2.2rem;
$fz-61: 6.1rem;

$lh-12: 1.86;
$lh-14: 1.79;
$lh-15: 1.73;
$lh-16: 1.68;
$lh-17: 1.61;
$lh-18: 1.64;
$lh-22: 1.58;
$lh-61: 1.3;